/* 
    CSS Guide 

    1.  General Styles (Normalize)

 */


/* 1. ---General Styles--- */

body {
  margin: 0px;
  padding: 0px;
}

img,
embed,
object,
video,
picture {
  max-width: 100%;
}

a,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(13, 13, 85);
}

p,
label {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(13, 13, 85);
}

a {
  text-decoration: none;
  transition: all .5s ease-in-out;
}

input,
textarea {
  display: block;
  margin: 0px;
  padding: 0px;
}

section h2,
section h3,
section p {
  padding-left: 15px;
  padding-right: 15px;
}

/* ---End of General Styles--- */


  
  
  
 
   /* logo */
  
  .logo {
    height: 50px;
    width: auto;
    mix-blend-mode: screen;
  }
  
  
  

/* Hamburger */
.hamburger {
  display: none;
  /* Hide the hamburger menu by default */
}

/* Show the hamburger menu only on mobile screens */
@media (max-width: 767px) {
  .hamburger {
    display: block;
    /* Display the hamburger menu on mobile screens */
  }
}

.hamburger {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #eceef5;
  margin: 4px 0;
  border-radius: 2px;
}




.mobile-nav {
  display: none;
}

.mobile-nav.show {
  display: block;
}



.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffbf;
  padding: 60px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  list-style-type: none;
}

.burger li {
  margin-bottom: 30px;
  font-size: 50px;
}

.burger a {
  text-decoration: none;
  color: #050404;
  font-size: 18px;
}

.nav-button {
  height: 100px;
  width: 100px;
  margin: 10px;
  padding: 5px;
  font-size: 30px;
  font-family: 'Montserrat';
  color: #e1e1e1;
  justify-content: space-between;
}



  /*Hero image*/
  
  
  .navbar {
    background-color: rgb(14, 14, 61);
  
  }
  
  nav a.active {
    color: #007bff;
    font-weight: bold;
  }
  
.hero-container {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}



.hero-container img {
  width: 100%; /* This makes the image take up the entire container width */
  display: block;
   /* Removes any default spacing issues */
  /* height: 600px; */
 
}


/* Default styles for all screen sizes */
.hero-container img {
  width: 100%; /* Make the image fill its container */
  height: 100%; /* Maintain the image's aspect ratio */
}

/* Tablet styles (adjust breakpoint as needed) */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-container img {
      max-height: 80%; /* Reduce image size for tablets */
  }
}

/* Mobile styles (adjust breakpoint as needed) */
@media (max-width: 767px) {
  .hero-container img {
      max-height: 60%; /* Further reduce image size for mobile */
  }
}


.brand-text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-70%);
  width: 300px;
  /* height: 300px;  */
  z-index: 1;
  font-size: 30px;
  color: rgb(10, 3, 70);
}

@media (min-width: 1024px)
{
  .brand-text{
    height: 300px;
  }
}

/* Tablet styles (adjust breakpoint as needed) */
@media (min-width: 768px) and (max-width: 1024px) {
  .brand-text {
      font-size: 25px;
      height: 200px; /* Reduce image size for tablets */
  }
}

/* Mobile styles (adjust breakpoint as needed) */
@media (max-width: 767px) {
  .brand-text {
    font-size: 15px; /* Further reduce image size for mobile */
  }
}



  
 

   .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    
  }
  

  
  .text {
    margin: 0;
    padding: 15px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
  
  
.banner img {
  width: 100%;
  height: 200px;
}
  
  .flav img {
    width: 20%;
    height: auto;
  }
  
  
  



/*banner and ad*/

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 200px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.promo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}


.text {
  font-size: 18px;
  /* justify-content: left; */
}










  /* Video container styles (optional) */
.video-container {
  max-width: 1200px;
  border-radius: 4px;
}

/* Video player styles */
video {
  width: 600px;
  height: auto;
  border-radius: 4px; /* Adjust the height to maintain aspect ratio */
}

/* Customize video controls */
video::-webkit-media-controls {
  /* Styles for Safari and Chrome */

  color: #fff;
}

video::-webkit-media-controls-enclosure {
  /* Styles for Safari and Chrome */
  border-radius: 8px;

}

video::-webkit-media-controls-play-button {
  /* Styles for the play button */
  background-color: rgba(54, 117, 253, 0.8);
  border-radius: 10%;
  width: 40px;
  height: 40px;
  margin: 5px;
}

video::-webkit-media-controls-volume-slider {
  /* Styles for the volume slider */
  background-color: #ffffff;
}



/* footer */
.footer {
  background-color: rgb(14, 14, 61);
  

}

.icons_img {
  width: fit-content;
  mix-blend-mode: screen;
  margin-left: 20px;
  
}

.f_logo {
  mix-blend-mode: screen;
  margin-top: 10px;
  
  padding-top: 60px;
}

.copyright {
  mix-blend-mode: screen;
  color: white;
  padding: 3px;
}
