/* 
    CSS Guide 

    1.  General Styles (Normalize)

 */


/* 1. ---General Styles--- */

body {
  margin: 0px;
  padding: 0px;
}

img,
embed,
object,
video,
picture {
  max-width: 100%;
}

a,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(13, 13, 85);
}

p,
label {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(13, 13, 85);
}

a {
  text-decoration: none;
  transition: all .5s ease-in-out;
}

input,
textarea {
  display: block;
  margin: 0px;
  padding: 0px;
}

section h2,
section h3,
section p {
  padding-left: 15px;
  padding-right: 15px;
}

/* ---End of General Styles--- */




/* logo */


.logo {
  height: 50px;
  width: auto;
  mix-blend-mode: screen;
}




/* Hamburger */
.hamburger {
  display: none;
  /* Hide the hamburger menu by default */
}

/* Show the hamburger menu only on mobile screens */
@media (max-width: 767px) {
  .hamburger {
    display: block;
    /* Display the hamburger menu on mobile screens */
  }
}

.hamburger {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #eceef5;
  margin: 4px 0;
  border-radius: 2px;
}




.mobile-nav {
  display: none;
}

.mobile-nav.show {
  display: block;
}



.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffbf;
  padding: 60px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  list-style-type: none;
}

.burger li {
  margin-bottom: 30px;
  font-size: 50px;
}

.burger a {
  text-decoration: none;
  color: #050404;
  font-size: 18px;
}

.nav-button {
  height: 100px;
  width: 100px;
  margin: 10px;
  padding: 5px;
  font-size: 30px;
  font-family: 'Montserrat';
  color: #e1e1e1;
  justify-content: space-between;
}

/*Hero image*/


.navbar {
  background-color: rgb(14, 14, 61);
}

nav a.active {
  color: #007bff;
  font-weight: bold;
}


.hero-container {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}



.hero-container img {
  width: 100%; 
  display: block;
 
 
}


/* Default styles for all screen sizes */
.hero-container img {
  width: 100%; 
  height: 100%; 

}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-container img {
      max-height: 80%; 
  }
}


@media (max-width: 767px) {
  .hero-container img {
      max-height: 60%;
  }
}


.brand-text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-70%);
  width: 300px;
  /* height: 300px;  */
  z-index: 1;
  font-size: 30px;
  color: rgb(10, 3, 70);
}

@media (min-width: 1024px)
{
  .brand-text{
    height: 300px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .brand-text {
      font-size: 25px;
      height: 200px; 
  }
}


@media (max-width: 767px) {
  .brand-text {
    font-size: 15px; 
  }
}




.promo_img {
  height: 300px;
  width: auto;
}



.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  
}




.text {
  margin: 0;
  padding: 15px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

/*banner and ad*/

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 200px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.promo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}


.text {
  font-size: 18px;
  padding-right: 400px;
}


.gif {
  width: 100%;
  height: 200px;
  /* background-image: url('../images/bg.jpg'); */
  background-color: #090b37;
}


/* Flavors Section Styles */
.flavor {
  background-color: #fff;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 2em;
}

.flavor img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.flavor h3 {
  color: #003366;
  margin-top: 1em;
}

.flavor .description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}


.flavor .toggle-description {
  background-color: #4a4c4f;
  mix-blend-mode: hard-light;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  margin-top: 1em;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  border-radius: 10px;
}

.flavor .toggle-description:hover {
  background-color: #0059A5;
}

.flavor.show .description {
  max-height: 1000px;
  transition: max-height 0.5s ease-in;
}

.flavor-citrus {
  background-color: #41d1f5;
  border-color: #1b7aba;
}

.flavor-raspberry {
  background-color: #ad1ec9;
  border-color: #bdc3c7;
}

.flavor-mango {
  background-color: #ffa718;
  border-color: #e67e22;
}



/*Testimony carousel*/

.slider-container {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
}

.slider {
  display: flex;
  animation: slide-animation 20s linear infinite; 
}

@keyframes slide-animation {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
}

.slider img {
  width: max-content;
  height: 290px;
}

.slider div {
  flex: 0 0 25%;
}




/*contact form*/

.form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}



#response {
  height: 100px;
  text-align: start;
}


input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #09244e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1772db;
}



.button {
  margin-top: 150px;
  margin-right: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;

}













.map_pic {
  height: 290px;
  width: auto;
  transition: transform 0.3s ease;
}

.map_pic:hover {
  transform: scale(1.1);
}



/* Video container styles  */
.video-container {
max-width: 1200px;
border-radius: 4px;
}

/* Video player styles */
video {
width: 600px;
height: auto;
border-radius: 4px; 
}


video::-webkit-media-controls {


color: #fff;
}

video::-webkit-media-controls-enclosure {

border-radius: 8px;

}

video::-webkit-media-controls-play-button {

background-color: rgba(54, 117, 253, 0.8);
border-radius: 10%;
width: 40px;
height: 40px;
margin: 5px;
}

video::-webkit-media-controls-volume-slider {

background-color: #ffffff;
}



/* footer */
.footer {
  background-color: rgb(14, 14, 61);
  

}

.icons_img {
  width: fit-content;
  mix-blend-mode: screen;
  margin-left: 20px;
  
}

.f_logo {
  mix-blend-mode: screen;
  margin-top: 10px;
  
  padding-top: 60px;
}

.copyright {
  mix-blend-mode: screen;
  color: white;
  padding: 3px;
}

