/* 
    CSS Guide 

    1.  General Styles (Normalize)

 */


 /* 1. ---General Styles--- */

    body {
        margin: 0px;
        padding: 0px;
    }

    img, embed, object, video, picture {
        max-width: 100%;
    }

    p, h1, h2, h3, h4, h5, label {
        margin: 0px;
        padding: 0px;
        font-family: sans-serif, Arial, Helvetica, sans-serif;
    }

    a {
        text-decoration: none;
        transition: all .5s ease-in-out;
    }

    input, textarea {
        display: block;
        margin: 0px;
        padding: 0px;
    }

    section h2, section h3, section p {
        padding-left: 15px;
    }

     /* ---End of General Styles--- */

   

     /*Hero image*/

.hero_img {
   height: 500px;
   overflow: hidden;
   object-fit: cover;
}


.logo {
    height: 50px;
    width: auto;
}


.hero-container {
  position: relative;
}

.hero-carousel {
  position: relative;
  overflow: hidden;
}

.hero-carousel img {
  display: none;
  width: 100%;
  height: 500px;
}

.brand-text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  width: 400px;
  height: 300px;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.text {
    margin: 0;
    padding: 20px;
    font-size: 30px;
    color: #000;
    text-align: center;
}


/*Testimony carousel*/

  .testimonial-slide {
    display: none;
  }
  
  .testimonial-slide.active {
    display: block;
  }
  
  .testimonial-slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .testimonial-slide h3,
  .testimonial-slide p {
    margin: 10px 0;
  }
  
  #prevBtn,
  #nextBtn {
    display: inline-block;
    background-color: #3880d8;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    color: #ffffff;
    text-align: center;
    border: none;
  }
  





/*contact form*/
  
  .form h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }



  #response {
    height: 100px;
    text-align: start;
  }


  input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #4c72af;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #431ea0;
  }
  


.button {
    margin-top: 150px;
    margin-right: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;

}




  
 
  
 
  /*footer*/
  
  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .contact-info p {
    margin-top: 50px;
  }
  
  .phone {
    text-align: left;
  }
  
  .address {
    text-align: center;
  }
  
  .email {
    text-align: right;
  }
  
  .social-media {
    align-items: center;
    margin-bottom: 20px;
    height: 100px;
    width: 100%;
  }
  
  .social-media img {
    max-width: 100%;
    height: 100px;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .copyight {
    text-align: center;
  }
  


/*banner and ad*/

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 200px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.promo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}


.text {
  font-size: 18px;
}